<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Architect Website | About</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="style.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div id="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/index" id="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-text">
							<h1 class="site-title">Spacewalkers Studio</h1>
							<small class="site-description">Know all you want to know</small>
						</div>
					</a> <!-- #branding -->

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/index">Home</a></li>
							<li class="menu-item current-menu-item"><a href="/about">About</a></li>
							<li class="menu-item"><a href="/project">our Projects</a></li>
							<li class="menu-item"><a href="/contact">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</div> <!-- .site-header -->

			<main class="main-content">
				
				<div class="page">
					<div class="container">
						<h2 class="entry-title">“Architecture at its best is when you take something out of pure fiction and turn it into concrete reality.” -Bjarke Ingles</h2>
						
								<p>Enthusiastic Designer eager to contribute to team success through hard work, attention to detailing,and good organizational skills.A clear understanding of the design problems and the task at hand, training in critical thinking. Motivated to learn,grow, and excel in Architecture and Design.</p>
						
						<figure class="align-right"><img src="dummy/aboutpic.jpg" alt="Single image"></figure>
                        <h2 class="sectiont-title">Languages</h2>
                        <p> ENGLISH (Full Professional Proficiency),KANNADA and HINDI (Native or Bilingual Proficiency)</p>
                        <h2 class="sectiont-title">Education</h2>
                        <div class="col-md-3">
                        <p>B.Arch
                           PES University
                           08/2017 - Present, Bangalore</p></div>
                        <div class="col-md-3">
                        <p>PCMC- Pre-University
                           Alvas’s Pre University College
                           06/2015 - 06/2017, Moodbidri</p></div>
                        
                        <p> Schooling St Mary’s Convent Bangalore</p>
                        <br>
                        <br>
                        <h2 class="sectiont-title">Skills</h2>
                        <p> PHOTOSHOP INDESIGN AUTOCAD PREMIER_PRO LUMION RHINO MS_OFFICE REVIT SKETCHUP</p>
                        <h2 class="sectiont-title">Interests and Volunteering</h2>
                        <p>Painting Graphics Govt. schools in Bangalore 10/2020, Bangalore Have volunteered for Programs aimed at painting graphics in schools for kids.</p>
                        <p>TEDxGateway Countdown: India’s Largest Climate Action Conference 10/2020, virtual conference</p>
                        <p> Activism,Sketching</p>
                        
                        

						
						<hr class="separator">
						
						<h2 class="section-title">WORK EXPERIENCE and ACHIEVEMENTS</h2>
						<div class="row">
							<div class="col-md-4">
								<blockquote class="testimonial">
                                    <h2 class="feature-title">INSTALLATION for India Post (Govt. of India) (2019)</h2>
                                    
									<p>Have DESIGNED and EXECUTED a MASCOT-like model for INDIA POST (GOVT. OF INDIA) which iscurrently installed at General Post Office, Bengaluru along with 3 other team members.</p>
								
								</blockquote>
                                
                                <h2 class="feature-title">Award for Designing Mobile Medical Facility (2020)</h2>
                                    
									<p>WON 2nd place in a Hackathon “ DECYPHER- A BETTER TOMORROW” for Designing a MOBILEMEDICAL SOLUTION for a post-Covid world.(Group Project)</p>
                                
								
							</div>
								<div class="col-md-4">
								<blockquote class="testimonial">
                                    <h2 class="feature-title">Birla White Yuvaratna NXT (2019)</h2>
                                    
									<p> Jury Appreciation Award for the competition theme “The CIty I Wish To Live In” held in Mumbai. (Group Project).</p>
								
								</blockquote>
                                <blockquote class="testimonial">
                                    <h2 class="feature-title">FREELANCING at NM Studio, Bangalore 01/2021 - 02/2021</h2>
                                    
									<p>Have worked on Residence Design, Concept Development and Layout Design during my time at the Firm.</p>
								
								</blockquote>
                                    <blockquote class="testimonial">
                                    <h2 class="feature-title">Architecture Conservation Award (2019)</h2>
                                    
									<p> Received the Award for Best Model of “Melukote Kalyani” at Prakalpa 2019. (Group Project)</p>
								
								</blockquote>
								
							</div>
							<div class="col-md-4">
								
                                <blockquote class="testimonial">
                                    <h2 class="feature-title">Shortlisted For “CISCO THINGQUBATOR” (2021)</h2>
                                    
									<p> Have been shortlisted for a Startup Incubation Program by CISCO for Mobile Medical Solution.(group)</p>
								
								</blockquote>
                                <blockquote class="testimonial">
                                    <h2 class="feature-title">Zonal Winners at DAH by COA (2021)</h2>
                                    
									<p> Finished 1st in Zone 5 for “Excellence in Heritage documentation” of Melukote. (group)</p>
								
								</blockquote>
                                <h2 class="feature-title">FREELANCING at NM Studio, Bangalore 01/2021 - 02/2021</h2>
                                    
									<p>Have worked on Residence Design, Concept Development and Layout Design during my time at the Firm.</p>
								
							</div>
						</div>
					</div>
				</div> <!-- .page -->

			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="pull-left">

						<address>
										<strong>Spacewalkers Studio</strong>
							<p>Bengaluru,Karnataka</p>
						</address>

						<a href="#" class="phone">+91 8147637378</a>
					</div> <!-- .pull-left -->
					<div class="pull-right">

						<div class="social-links">

							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="https://www.instagram.com/sagaragarwal150/"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com/sagaragarwalcoo"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/sagar-agrawal-5ba48520b"><i class="fa fa-linkedin"></i></a>

						</div>

					</div> <!-- .pull-right -->

					<div class="colophon">Designed by Vybhav H S.</div>

				</div> <!-- .container -->
			</footer> <!-- .site-footer -->
		</div>

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>
