<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Architect Website | Project</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div id="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/index" id="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-text">
							<h1 class="site-title">Spacewalkers studio</h1>
							<small class="site-description">Know all you want to know</small>
						</div>
					</a> <!-- #branding -->

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/index">Home</a></li>
							<li class="menu-item"><a href="/about">About</a></li>
							<li class="menu-item current-menu-item"><a href="/project">our Projects</a></li>
							<li class="menu-item"><a href="/contact">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</div> <!-- .site-header -->

			<main class="main-content">
				
				<div class="page">
					<div class="container">
						<a href="/project" class="button-back"><img src="images/arrow-back.png" alt="" class="icon">Back to the projects</a>

						<div class="row">
							<div class="col-md-5">
								<div class="project-images">
                                    <a href="/jimages">
									<img src="dummy/project j 1.jpg" alt="">
                                    </a>

									<div class="thumbs">
										<a href="/jimages"><img src="dummy/j front elevation.png" alt="#"></a>
										<a href="/jimages"><img src="dummy/j left side elevatioin.png" alt="#"></a>
										<a href="/jimages"><img src="dummy/j right side elevatioin.png" alt="#"></a>
                                        <br><br><br>
                                        <a href="/jimages" class="button-back">More Images<img src="images/arrow.png" alt="" class="icon"></a>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="project-detail">
									<h2 class="project-title">JUGGERNAUT--100 key business hotel--Race Course Road, Bengaluru-2019--Studio project-Hospitality</h2>
									<p>The use of triangle makes the design dynamic and contemporary that goes with the intent to make it a landmark. The lines are clean and straight. Working along the line of triangle, of setting the resulting space, and playing with heights adds to the dynamism of the building.Triangle being a three sided shape also recuses the building footprint.</p>

									<p>To design a 3 star 100 key business hotel in a posh locality in Bangalore. Being very close to the turf club, it would invite many business men and also the upper class audience at the club. </p>
                                    <p>AREA : 1.9 ACERS </p>
                                    <p>The site is located in a crowded urban setting. It is right next to the Bangalore turf club (race course) giving it a major advantage over the other hotels.</p>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- .page -->

			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="pull-left">

						<address>
										<strong>Spacewalkers Studio</strong>
							<p>Bengaluru,Karnataka</p>
						</address>

						<a href="#" class="phone">+91 8147637378</a>
					</div> <!-- .pull-left -->
					<div class="pull-right">

						<div class="social-links">

							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="https://www.instagram.com/sagaragarwal150/"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com/sagaragarwalcoo"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/sagar-agrawal-5ba48520b"><i class="fa fa-linkedin"></i></a>

						</div>

					</div> <!-- .pull-right -->

					<div class="colophon">Designed by Vybhav H S.</div>

				</div> <!-- .container -->
			</footer> <!-- .site-footer -->
		</div>

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>